@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using DillonWallsC2Episerver.Models.Pages

@*@model DillonWallsC2Episerver.Models.ViewModels.BlogListModel*@

@model DillonWallsC2Episerver.Models.Blocks.BlogListBlock


@*<section class="posts">
        @foreach (var page in Model.Posts)
        {
            var blogPost = (BlogPage)page;

            //@Url.ContentUrl(blogPost)
            <a href="@blogPost.LinkURL">
                <article>
                    <h3>
                        @blogPost.Title
                    </h3>
                    <div class="description">
                        @blogPost.SubTitle
                    </div>
                    <cite>Posted by <b>Dillon Walls</b> on September XX, 2019</cite>
                </article>
            </a>
        }
    </section>*@
