@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model DillonWallsC2Episerver.Models.Blocks.HeaderBlock

<header id="site-header">
    <a class="site-logo" href="/">Technology Blog</a>
    <button id="site-menu-button" class="btn"> Menu <i class="i-bars"></i> </button>
    <nav id="site-menu">
        <a href="/">Home</a>
        <a href="/about.html">About</a>
        <a href="/sample-post.html">
            Sample
            Post
        </a>
        <a href="/contact.html">Contact</a>
    </nav>
</header>