@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model DillonWallsC2Episerver.Models.Pages.GeneralPage

<head>
    <link href="/Static/style.css" rel="stylesheet" type="text/css" />
</head>


@*<div>
    <h1>@Html.PropertyFor(m => m.Heading)</h1>
    <div>
        @Html.PropertyFor(m => m.MainBody)
    </div>
</div>*@

<header id="site-header">
    <a class="site-logo" href="/">Technology Blog</a>
    <button id="site-menu-button" class="btn"> Menu <i class="i-bars"></i> </button>
    <nav id="site-menu">
        <a href="/">Home</a>
        <a href="/about.html">About</a>
        <a href="/sample-post.html">
            Sample
            Post
        </a>
        <a href="/contact.html">Contact</a>
    </nav>
</header>

<section class="page-intro centered" style="background-image: url('/Static/images/background-2.jpg')">
    <h1 class="with-line">About Us</h1>
    <h2>This is who we are</h2>
</section>

<article>
    <div class="body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed placerat orci. Praesent bibendum
            felis
            ac sem malesuada facilisis. Morbi et euismod magna, accumsan convallis purus. Proin feugiat lobortis
            diam, vulputate blandit metus aliquet ac. Vivamus porttitor justo sed quam vehicula suscipit. Aenean a
            metus feugiat, rhoncus mauris ac, consectetur leo. Fusce nibh nisi, varius eu enim eget, auctor
            fringilla nisi.
        </p>
        <p>
            Donec id pretium quam. Nulla facilisi. Nunc viverra enim vestibulum turpis lacinia malesuada. Aliquam
            feugiat ante dapibus, finibus nisl sit amet, interdum velit. Donec nec libero non nunc vulputate feugiat
            vestibulum sed nulla. Etiam vitae eros feugiat, accumsan urna eget, iaculis dui. Ut iaculis mollis ante,
            et rutrum purus rutrum vitae. Sed pellentesque ornare sapien sed cursus. Nam quis turpis id enim tempor
            ultricies quis ac quam. Praesent varius quam dapibus, accumsan diam vel, rhoncus quam. Praesent varius
            sapien quis sem pretium, nec scelerisque erat dictum. Nulla placerat neque at ligula semper, eget
            commodo ante lobortis. Maecenas ac tempus orci, finibus cursus eros.
        </p>
        <p>
            Nam vestibulum neque in suscipit ultrices. Etiam nec enim ut lectus pellentesque aliquet. Nunc cursus
            molestie nisi, in molestie magna condimentum molestie. Duis blandit, tortor et efficitur placerat, purus
            lectus semper nunc, id fermentum dui mi ac nunc. Etiam auctor elit sed risus ultricies rhoncus. Quisque
            tristique gravida odio ac porttitor. Sed sodales semper diam, in gravida ipsum malesuada nec. Sed vel
            tincidunt eros. Integer vitae vestibulum nibh, quis facilisis tellus. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur porttitor, lacus vitae
            bibendum fringilla, risus mauris vehicula diam, quis egestas felis augue et nunc. Sed cursus libero non
            leo vehicula, eget hendrerit nisl condimentum. Duis et rutrum turpis. In cursus velit sit amet tellus
            accumsan tempus. Nam fringilla metus sed ex laoreet, at finibus lectus facilisis. Proin justo orci,
            ultricies ac eleifend a, dignissim quis sapien.
        </p>
    </div>
</article>
<footer>
    <div class="social-media-links">
        <div class="circle"><a href="https://www.twitter.com"><i class="i-twitter"></i></a></div>
        <div class="circle"><a href="https://www.facebook.com"><i class="i-facebook"></i></a></div>
        <div class="circle"><a href="https://www.github.com"><i class="i-github"></i></a></div>
    </div>Copyright &copy; Your Website 2016
</footer>
<script src="~/Static/main.js"></script>